<template>
    <div class="container">
        <div class="row justify-content-center">
            <form method="POST" >
                <div class="form-group row">
                    <label for="name" class="col-md-4 col-form-label">Name</label>
                    <div class="col-md-8">
                        <input id="name" type="text" class="form-control" name="name" v-model="formData.name" autocomplete="name" autofocus>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="title" class="col-md-4 col-form-label">Title</label>
                    <div class="col-md-8">
                        <input id="title" type="text" class="form-control" name="title" v-model="formData.title" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="subject" class="col-md-4 col-form-label">Subject</label>
                    <div class="col-md-8">
                        <input id="subject" type="text" class="form-control" name="subject" v-model="formData.subject"  autofocus>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="journalist_id" class="col-md-4 col-form-label">Journalist Id</label>
                    <div class="col-md-8">
                        <input id="journalist_id" type="text" class="form-control" name="journalist_id" v-model="formData.journalist_id">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="publish_date" class="col-md-4 col-form-label">Publish Date</label>
                    <div class="col-md-8">
                        <input id="publish_date" type="date" class="form-control" name="publish_date" v-model="formData.publish_date" >
                    </div>
                </div>
                <div class="form-group row mb-0">
                    <div class="col-md-8 offset-md-4">
                        <button type="submit" class="btn btn-primary" @click.prevent="saveData">
                            Save Record
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        props:{
            editData:{
                type:Object,
                default:()=>{},
            },
            isActive:{
                type:Boolean,
                required:true,
            }
        },
        data:()=>{
            return {
                id : 0,
                formData:{},
                journalist:[],
            }
        },
        methods:{
            restForm:function(){
                this.id=0;
                this.formData={
                    name:'',
                    title:'',
                    subject:'',
                    publish_date:'',
                    journalist_id:'',
                }
            },
            fetchJournalists:function(){

            },
            initData:function(){
                if(!this.editData.id) return;
                this.id = this.editData.id;
                this.formData = {...this.editData}
                delete this.formData.id;
                delete this.formData.created_at;
                delete this.formData.updated_at;
            },
            saveData:function () {
                if(this.id){
                    this.updateRecord();
                }else{
                    this.createRecord();
                }
            },
            createRecord:function(){
                axios.post(`/api/articles/create/`,this.formData).then(response=>{
                    console.log(response.data.result)
                    this.emitData(response.data.result);
                }).catch(error=>{
                    console.log(error)
                });
            },
            updateRecord:function () {
                console.log(this.formData);
                axios.put(`/api/articles/update/${this.id}`,this.formData).then(response=>{
                    console.log(response)
                    Object.assign(this.editData,this.formData);
                    this.emitData(this.formData);
                }).catch(error=>{
                    console.log(error)
                })
            },
            emitData:function(data){
                this.$emit('feedBack',{response:true,data:data});
            }
        },

        watch:{
            'isActive':function () {
                console.log(this.isActive);
                if(this.isActive){
                    this.initData();
                }else{
                    this.restForm();
                }
            }
        },
        created() {
            this.restForm();
        }

    }
</script>

<style scoped>

</style>
