<template>
    <div class="container">
        <div class="row justify-content-center">
            <form method="POST" >
                <div class="form-group row">
                    <label for="name" class="col-md-4 col-form-label">Name</label>
                    <div class="col-md-8">
                        <input id="name" type="text" class="form-control" name="name" v-model="formData.name" autocomplete="name" autofocus>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="website" class="col-md-4 col-form-label">Website</label>
                    <div class="col-md-8">
                        <input id="website" type="text" class="form-control" name="website" v-model="formData.website" autocomplete="name" autofocus>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="address_1" class="col-md-4 col-form-label">Address 1</label>
                    <div class="col-md-8">
                        <input id="address_1" type="text" class="form-control" name="address_1" v-model="formData.address_1" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="address_2" class="col-md-4 col-form-label">Address 2</label>
                    <div class="col-md-8">
                        <input id="address_2" type="text" class="form-control" name="address_2" v-model="formData.address_2"  >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="city" class="col-md-4 col-form-label">City</label>
                    <div class="col-md-8">
                        <input id="city" type="text" class="form-control" name="city" v-model="formData.city" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="state" class="col-md-4 col-form-label">State</label>
                    <div class="col-md-8">
                        <input id="state" type="text" class="form-control" name="state" v-model="formData.state" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="zip_code" class="col-md-4 col-form-label">zip_code</label>
                    <div class="col-md-8">
                        <input id="zip_code" type="text" class="form-control" name="zip_code" v-model="formData.zip_code">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="country" class="col-md-4 col-form-label">Country</label>
                    <div class="col-md-8">
                        <input id="country" type="text" class="form-control" name="country" v-model="formData.country" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="media_market" class="col-md-4 col-form-label">Media Market</label>
                    <div class="col-md-8">
                        <input id="media_market" type="text" class="form-control" name="media_market" v-model="formData.media_market" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="notes" class="col-md-4 col-form-label">Notes</label>
                    <div class="col-md-8">
                        <textarea id="notes" v-model="formData.notes" class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group row mb-0">
                    <div class="col-md-8 offset-md-4">
                        <button type="submit" class="btn btn-primary" @click.prevent="saveData">
                            Save Record
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        name: "publicationAddForm",
        props:{
            editData:{
                type:Object,
                default:()=>{},
            },
            isActive:{
                type:Boolean,
                required:true,
            }
        },
        data:()=>{
            return {
                id : 0,
                formData:{},
            }
        },
        methods:{
            restForm:function(){
              this.id=0;
              this.formData={
                  name:'',
                  website:'',
                  address_1:'',
                  address_2:'',
                  city:'',
                  state:'',
                  zip_code:'',
                  country:'',
                  media_market:'',
                  notes:'',
              }
            },
            initData:function(){
                if(!this.editData.id) return;
                this.id = this.editData.id;
                this.formData = {...this.editData}
                delete this.formData.id;
                delete this.formData.created_at;
                delete this.formData.updated_at;
            },
            saveData:function () {
                if(this.id){
                    this.updateRecord();
                }else{
                    this.createRecord();
                }
            },
            createRecord:function(){
                axios.post(`/api/publications/create/`,this.formData).then(response=>{
                    console.log(response.data.result)
                    this.emitData(response.data.result);
                }).catch(error=>{
                    console.log(error)
                });
            },
            updateRecord:function () {
                console.log(this.formData);
                axios.put(`/api/publications/update/${this.id}`,this.formData).then(response=>{
                    console.log(response)
                    Object.assign(this.editData,this.formData);
                    this.emitData(this.formData);
                }).catch(error=>{
                    console.log(error)
                })
            },
            emitData:function(data){
                this.$emit('feedBack',{response:true,data:data});
            }
        },

        watch:{
            'isActive':function () {
                console.log(this.isActive);
                if(this.isActive){
                    this.initData();
                }else{
                    this.restForm();
                }
            }
        },
        created() {
            this.restForm();
        }

    }
</script>

<style scoped>

</style>
