<template>
    <div class="container">
        <div class="row justify-content-center">
            <form method="POST" >
                <div class="form-group row">
                    <label for="first_name" class="col-md-4 col-form-label">First Name</label>
                    <div class="col-md-8">
                        <input id="first_name" type="text" class="form-control" name="first_name" v-model="formData.first_name" autocomplete="name" autofocus>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="last_name" class="col-md-4 col-form-label">Last Name</label>
                    <div class="col-md-8">
                        <input id="last_name" type="text" class="form-control" name="last_name" v-model="formData.last_name"  autofocus>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-md-4 col-form-label">Email</label>
                    <div class="col-md-8">
                        <input id="email" type="email" class="form-control" name="email" v-model="formData.email" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="phone_number" class="col-md-4 col-form-label">Phone Number</label>
                    <div class="col-md-8">
                        <input id="phone_number" type="text" class="form-control" name="phone_number" v-model="formData.phone_number"  >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="language_spoken" class="col-md-4 col-form-label">Language Spoken</label>
                    <div class="col-md-8">
                        <input id="language_spoken" type="text" class="form-control" name="language_spoken" v-model="formData.language_spoken" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="title" class="col-md-4 col-form-label">Title</label>
                    <div class="col-md-8">
                        <input id="title" type="text" class="form-control" name="title" v-model="formData.title" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="publication_id" class="col-md-4 col-form-label">Publication Id</label>
                    <div class="col-md-8">
                        <input id="publication_id" type="text" class="form-control" name="publication_id" v-model="formData.publication_id">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="twitter" class="col-md-4 col-form-label">Twitter</label>
                    <div class="col-md-8">
                        <input id="twitter" type="text" class="form-control" name="twitter" v-model="formData.twitter" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="linkedin" class="col-md-4 col-form-label">Linkedin</label>
                    <div class="col-md-8">
                        <input id="linkedin" type="text" class="form-control" name="linkedin" v-model="formData.linkedin" >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="notes" class="col-md-4 col-form-label">Notes</label>
                    <div class="col-md-8">
                        <textarea id="notes" v-model="formData.notes" class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group row mb-0">
                    <div class="col-md-8 offset-md-4">
                        <button type="submit" class="btn btn-primary" @click.prevent="saveData">
                            Save Record
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        props:{
            editData:{
                type:Object,
                default:()=>{},
            },
            isActive:{
                type:Boolean,
                required:true,
            }
        },
        data:()=>{
            return {
                id : 0,
                formData:{},
            }
        },
        methods:{
            restForm:function(){
                this.id=0;
                this.formData={
                    first_name:'',
                    last_name:'',
                    email:'',
                    phone_number:'',
                    language_spoken:'',
                    title:'',
                    publication_id:'',
                    publication_id:'',
                    linkedin:'',
                    notes:'',
                }
            },
            initData:function(){
                if(!this.editData.id) return;
                this.id = this.editData.id;
                this.formData = {...this.editData}
                delete this.formData.id;
                delete this.formData.created_at;
                delete this.formData.updated_at;
            },
            saveData:function () {
                if(this.id){
                    this.updateRecord();
                }else{
                    this.createRecord();
                }
            },
            createRecord:function(){
                axios.post(`/api/journalists/create/`,this.formData).then(response=>{
                    console.log(response.data.result)
                    this.emitData(response.data.result);
                }).catch(error=>{
                    console.log(error)
                });
            },
            updateRecord:function () {
                console.log(this.formData);
                axios.put(`/api/journalists/update/${this.id}`,this.formData).then(response=>{
                    console.log(response)
                    Object.assign(this.editData,this.formData);
                    this.emitData(this.formData);
                }).catch(error=>{
                    console.log(error)
                })
            },
            emitData:function(data){
                this.$emit('feedBack',{response:true,data:data});
            }
        },

        watch:{
            'isActive':function () {
                console.log(this.isActive);
                if(this.isActive){
                    this.initData();
                }else{
                    this.restForm();
                }
            }
        },
        created() {
            this.restForm();
        }

    }
</script>

<style scoped>

</style>
