<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-12 col-sm-12">
                <div class="card">
                    <div class="card-header">Publications <span class="float-right"><button type="button" class="btn btn-info btn-sm " data-toggle="modal" data-target="#myModal" @click="addRecord">Add New</button></span></div>
                    <div class="card-body">
                        <table class="table" >
                            <thead>
                            <th>Sr#.</th>
                            <th>Title</th>
                            <th>F.Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Languages</th>
                            <th>Publication</th>
                            <th>Articles</th>
                            <th>Edit</th>
                            <th>Delete</th>
                            </thead>
                            <tbody>
                            <tr v-for="(row,index) in rows" >
                                <td>{{index}}</td>
                                <td>{{row.title}}</td>
                                <td>{{row.first_name}}</td>
                                <td>{{row.phone}}</td>
                                <td>{{row.email}}</td>
                                <td>{{row.language_spoken }}</td>
                                <td>{{row.publication.name}}</td>
                                <td><a :href="`/article/${row.id}`">Show</a></td>
                                <td><button data-toggle="modal" data-target="#myModal" @click="editRecord(row,index)" class="btn btn-success btn-sm">Edit</button></td>
                                <td><button @click.prevent="deleteRecord(row.id,index)" class="btn btn-danger btn-sm">Delete</button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{formTitle}}</h4>
                        <button type="button" id="close" @click="restEditData" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <journalist-add-form :edit-data="editData" :is-active="isActive" @feedBack="getFeedBack"></journalist-add-form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>

<script>
    import JournalistAddForm from "./journalistAddForm";
    export default {
        components: {JournalistAddForm},
        props:['pubId'],
        data:()=>{
            return {
                rows:[],
                formTitle:"Add New Record",
                editData:{},
                isActive:false,
                rowIndex:-1,

            }},
        methods:{
            fetchRecord : function(){
                var self=this;
                console.log(this.pubId);
                axios.get(`/api/journalists/${(this.pubId?this.pubId:``)}`).then(response => {
                    this.rows = response.data.result;
                }).catch(error => {
                    console.log(error);
                });
            },
            addRecord : function (){
                this.editData={id:0};
                this.formTitle="Add New Record",
                    this.isActive =true;
            },
            editRecord : function (data,rowIndex){
                this.formTitle = "Edit Form";
                this.isActive =true;
                this.editData = data;
                this.rowIndex = rowIndex;
            },
            restEditData : function (){
                this.isActive=false;
                this.editData = {};
                this.rowIndex = -1;
            },
            deleteRecord : function(id,row_index){
                axios.delete(`/api/journalists/delete/${id}`).then(response=>{
                    console.log(response);
                    this.rows.splice(row_index,1);
                    alert(response.data.message);
                }).catch(error =>{
                    console.log(error);
                })
            },
            getFeedBack:function (data) {
                console.log(data);
                if(this.rowIndex < 0){
                    this.fetchRecord();
                }
                document.getElementById('close').click();
            }

        },
        mounted() {
            this.fetchRecord();
        }
    }
</script>

<style scoped>

</style>
